{{define "footer"}}
	{{template "foot" .}}
	{{template "body-end" .}}
{{end}}
{{define "foot"}}
	</div>
	<footer>
		<hr />
		<nav>
			<a class="home" href="/">{{.SiteName}}</a>
			{{if not .SingleUser}}<a href="/about">about</a>{{end}}
			{{if and (not .SingleUser) .LocalTimeline}}<a href="/read">reader</a>{{end}}
			<a href="https://writefreely.org/guide/{{.OfficialVersion}}" target="guide">writer's guide</a>
			{{if not .SingleUser}}<a href="/privacy">privacy</a>{{end}}
			<a href="https://writefreely.org">writefreely {{.Version}}</a>
		</nav>
	</footer>

	<script type="text/javascript">
	try { // Google Fonts
	  WebFontConfig = {
		custom: { families: [ 'Lora:400,700:latin' ], urls: [ '/css/fonts.css' ] }
	  };
	  (function() {
		var wf = document.createElement('script');
		wf.src = '/js/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	  })();
	} catch (e) { /* ¯\_(ツ)_/¯ */ }
	</script>
{{end}}
{{define "body-end"}}</body>
</html>{{end}}
