version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/" # Location of package manifests
    open-pull-requests-limit: 50
    schedule:
      interval: "monthly"
