[server]
hidden_host = 
port        = 8080

[database]
type     = mysql
username = root
password = changeme
database = writefreely
host     = db
port     = 3306

[app]
site_name         = Write Freely Example Blog!
host              = http://localhost:8080
theme             = write
disable_js        = false
webfonts          = true
single_user       = true
open_registration = false
min_username_len  = 3
max_blogs         = 1
federation        = true
public_stats      = true
private           = false

