{{define "footer"}}
		<footer{{if not .SingleUser}} class="contain-me"{{end}}>
			<hr />
			{{if .SingleUser}}
			<nav>
				<a class="home" href="/">{{.SiteName}}</a>
				<a href="https://writefreely.org/guide/{{.OfficialVersion}}" target="guide">writer's guide</a>
				<a href="https://developers.write.as/" title="Build on Write Freely with our open developer API.">developers</a>
				<a href="https://github.com/writeas/writefreely">source code</a>
				<a href="https://writefreely.org">writefreely {{.Version}}</a>
			</nav>
			{{else}}
			<div class="marketing-section">
				<div class="clearfix blurbs">
					<div class="half">
						<h3><a class="home" href="/">{{.SiteName}}</a></h3>
						<ul>
							<li><a href="/about">about</a></li>
							{{if and (not .SingleUser) .LocalTimeline}}<a href="/read">reader</a>{{end}}
							<li><a href="/privacy">privacy</a></li>
						</ul>
					</div>
					<div class="half">
						<h3><a href="https://writefreely.org" style="color:#444;text-transform:lowercase;">WriteFreely</a></h3>
						<ul>
							<li><a href="https://writefreely.org/guide/{{.OfficialVersion}}" target="guide">writer's guide</a></li>
							<li><a href="https://developers.write.as/" title="Build on Write Freely with our open developer API.">developers</a></li>
							<li><a href="https://github.com/writeas/writefreely">source code</a></li>
							<li style="margin-top:0.8em">{{.Version}}</li>
						</ul>
					</div>
				</div>
			</div>
			{{end}}
		</footer>
{{end}}
