{{define "head-base"}}<base href="{{subdir}}/">
<style>@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local('Material Icons'),local('MaterialIcons-Regular'),url('{{subdir}}/fonts/MaterialIcons-Regular.woff2') format('woff2'),url('{{subdir}}/fonts/MaterialIcons-Regular.woff') format('woff'),url('{{subdir}}/fonts/MaterialIcons-Regular.ttf') format('truetype')}</style>{{end}}