{{define "oauth-buttons"}}
    {{ if or .SlackEnabled .WriteAsEnabled .GitLabEnabled .GiteaEnabled .GenericEnabled }}
        <div class="row content-container signinbtns">
            {{ if .SlackEnabled }}
                <a class="loginbtn" href="/oauth/slack"><img alt="Sign in with Slack" height="40" width="172" src="/img/sign_in_with_slack.png" srcset="/img/sign_in_with_slack.png 1x, /img/sign_in_with_slack@2x.png 2x" /></a>
            {{ end }}
            {{ if .WriteAsEnabled }}
                <a class="btn cta loginbtn" id="writeas-login" href="/oauth/write.as">
                    <img src="/img/mark/writeas-white.png" />{{call .Tr "Sign in with **%s**" true (variables "Write.as")}}</a>
            {{ end }}
            {{ if .GitLabEnabled }}
                <a class="btn cta loginbtn" id="gitlab-login" href="/oauth/gitlab">
                    <img src="/img/mark/gitlab.png" />{{call .Tr "Sign in with **%s**" true (variables .GitLabDisplayName)}}</a>
            {{ end }}
            {{ if .GiteaEnabled }}
                <a class="btn cta loginbtn" id="gitea-login" href="/oauth/gitea">GitLabDisplayName
                    <img src="/img/mark/gitea.png" />{{call .Tr "Sign in with **%s**" true (variables .GiteaDisplayName)}}</a>
            {{ end }}
            {{ if .GenericEnabled }}
                <a class="btn cta loginbtn" id="generic-oauth-login" href="/oauth/generic">{{call .Tr "Sign in with **%s**" true (variables .GenericDisplayName)}}</a>
            {{ end }}
        </div>

        {{if not .DisablePasswordAuth}}
            <div class="or">
                <p>{{call .Tr "or"}}</p>
                <hr class="short" />
            </div>
        {{end}}
    {{ end }}
{{end}}