{{define "pages"}}
{{template "header" .}}

<div class="snug content-container">
	{{template "admin-header" .}}

	<h2 id="posts-header" style="display: flex; justify-content: space-between;">Pages</h2>

	<table class="classy export" style="width:100%">
		<tr>
			<th>Pages</th>
			<th>Last Modified</th>
		</tr>
		{{range .Pages}}
		<tr>
			<td><a href="/admin/page/{{.ID}}">{{.ID}}</a></td>
			<td style="text-align:right">{{.UpdatedFriendly}}</td>
		</tr>
		{{end}}
	</table>

</div>

{{template "footer" .}}
{{end}}
