{{define "users"}}
{{template "header" .}}

<div class="snug content-container">
	{{template "admin-header" .}}

	<div class="row admin-actions" style="justify-content: space-between;">
		<span style="font-style: italic; font-size: 1.2em">{{.TotalUsers}} {{pluralize "user" "users" .TotalUsers}}</span>
		<a class="btn cta" href="/me/invites">+ Invite people</a>
	</div>

	<table class="classy export" style="width:100%">
		<tr>
			<th>User</th>
			<th>Joined</th>
			<th>Type</th>
			<th>Status</th>
		</tr>
		{{range .Users}}
		<tr>
			<td><a href="/admin/user/{{.Username}}">{{.Username}}</a></td>
			<td>{{.CreatedFriendly}}</td>
			<td style="text-align:center">{{if .IsAdmin}}Admin{{else}}User{{end}}</td>
			<td style="text-align:center">{{if .IsSilenced}}Silenced{{else}}Active{{end}}</td>
		</tr>
		{{end}}
	</table>

	<nav class="pager pages">
		{{range $n := .TotalPages}}<a href="/admin/users{{if ne $n 1}}?p={{$n}}{{end}}" {{if eq $.CurPage $n}}class="selected"{{end}}>{{$n}}</a>{{end}}
	</nav>

</div>

{{template "footer" .}}
{{end}}
