{{define "users"}}
{{template "header" .}}

<div class="snug content-container">
	{{template "admin-header" .}}

	<!-- TODO: if other use for flashes use patern like account_import.go -->
	{{if .Flashes}}
		<p class="alert success">
		{{range .Flashes}}{{.}}{{end}}
		</p>
	{{end}}
	<h2 id="posts-header" style="display: flex; justify-content: space-between;">Users <span style="font-style: italic; font-size: 0.75em;">{{.TotalUsers}} total</strong></h2>

	<table class="classy export" style="width:100%">
		<tr>
			<th>User</th>
			<th>Joined</th>
			<th>Type</th>
		</tr>
		{{range .Users}}
		<tr>
			<td><a href="/admin/user/{{.Username}}">{{.Username}}</a></td>
			<td>{{.CreatedFriendly}}</td>
			<td style="text-align:center">{{if .IsAdmin}}Admin{{else}}User{{end}}</td>
		</tr>
		{{end}}
	</table>

	<nav class="pager">
		{{range $n := .TotalPages}}<a href="/admin/users{{if ne $n 1}}?p={{$n}}{{end}}" {{if eq $.CurPage $n}}class="selected"{{end}}>{{$n}}</a>{{end}}
	</nav>

</div>

{{template "footer" .}}
{{end}}
