{{define "users"}}
{{template "header" .}}

<div class="snug content-container">
	{{template "admin-header" .}}

	<!-- TODO: if other use for flashes use patern like account_import.go -->
	{{if .Flashes}}
		<p class="alert success">
		{{range .Flashes}}{{.}}{{end}}
		</p>
	{{end}}
	<div class="row admin-actions" style="justify-content: space-between;">
		{{ $T := .TotalUsers }}{{ if eq .AppCfg.Lang "eu_ES" }}{{ $T = 1}}{{ end }}
		<span style="font-style: italic; font-size: 1.2em">{{.TotalUsers}} {{call .Tr "User" $T}}</span>
		<a class="btn cta" href="/me/invites">+ {{call .Tr "Invite people"}}</a>
	</div>

	<table class="classy export" style="width:100%">
		<tr>
			<th>{{call .Tr "User"}}{{ if eq .AppCfg.Lang "eu_ES" }}a{{end}}</th>
			<th>{{call .Tr "joined"}}</th>
			<th>{{call .Tr "type"}}</th>
			<th>{{call .Tr "status"}}</th>
		</tr>
		{{range .Users}}
		<tr>
			<td><a href="/admin/user/{{.Username}}">{{.Username}}</a></td>
			<td><time datetime="{{.CreatedFriendly}}" content="{{.CreatedFriendly}}"></td>
			<td style="text-align:center">{{if .IsAdmin}}Admin{{else}}{{call $.Tr "User"}}{{ if eq $.AppCfg.Lang "eu_ES" }}a{{end}}{{end}}</td>
			<td style="text-align:center">{{if .IsSilenced}}{{call $.Tr "Silenced"}}{{else}}{{call $.Tr "Active"}}{{end}}</td>
		</tr>
		{{end}}
	</table>

	<nav class="pager pages">
		{{range $n := .TotalPages}}<a href="/admin/users{{if ne $n 1}}?p={{$n}}{{end}}" {{if eq $.CurPage $n}}class="selected"{{end}}>{{$n}}</a>{{end}}
	</nav>

</div>
<script src="/js/localdate.js"></script>

{{template "footer" .}}
{{end}}
