{{define "view-page"}}
{{template "header" .}}
<style>
label {
	display: block;
	margin-top: 1em;
	padding: 0 0 1em;
	color: #666;
}
.content-desc {
	font-size: 0.95em;
}
.page-desc {
	margin: 0 0 0.5em;
}
textarea + .content-desc {
	margin: 0.5em 0 1em;
	font-style: italic;
}
input[type=text] {
	/* Match textarea color. TODO: y is it like this thooo */
	border-color: #ccc;
}
</style>
<div class="snug content-container">
	{{template "admin-header" .}}

	<h2 id="posts-header">{{if eq .Content.ID "landing"}}{{call .Tr "Home"}} {{call .Tr "Page"}}{{else}}{{.Content.Title.String}} {{call .Tr "Page"}}{{end}}</h2>

	{{if eq .Content.ID "about"}}
	<p class="page-desc content-desc">{{call .Tr "Describe what your instance is %s." true (variables "About;/about") }}</p>
	{{else if eq .Content.ID "privacy"}}
	<p class="page-desc content-desc">{{call .Tr "Outline your %s." true (variables "Privacy Policy;/privacy") }}</p>
	{{else if eq .Content.ID "reader"}}
	<p class="page-desc content-desc">{{call .Tr "Customize your %s page." true (variables "Reader;/read") }}</p>
	{{else if eq .Content.ID "landing"}}
	<p class="page-desc content-desc">{{call .Tr "Customize your %s page." true (variables "Home;/landing=1") }}</p>
	{{end}}

	{{if .Message}}<p>{{.Message}}</p>{{end}}

	<form method="post" action="/admin/update/{{.Content.ID}}" onsubmit="savePage(this)">
		{{if .Banner}}
		<label for="banner">
			{{call .Tr "Banner"}}
		</label>
		<textarea id="banner" class="section codable norm edit-page" style="min-height: 5em; height: 5em;" name="banner">{{.Banner.Content}}</textarea>
		<p class="content-desc">{{call .Tr "We suggest a header (e.g. `# Welcome`), optionally followed by a small bit of text. Accepts Markdown and HTML." true}}</p>
		{{else}}
		<label for="title">
			{{call .Tr "Title"}}
		</label>
		<input type="text" name="title" id="title" value="{{.Content.Title.String}}" />
		{{end}}
		<label for="content">
			{{if .Banner}}{{call .Tr "Body"}}{{else}}{{call .Tr "Content"}}{{end}}
		</label>

		<textarea id="content" class="section codable norm edit-page" name="content">{{.Content.Content}}</textarea>

		<p class="content-desc">{{call .Tr "Accepts Markdown and HTML."}}</p>

		<input type="submit" value="{{call .Tr "Save"}}" />
	</form>

</div>

<script>
function savePage(el) {
	var $btn = el.querySelector('input[type=submit]');
	$btn.value = '{{call .Tr "Saving..."}}';
	$btn.disabled = true;
}
</script>

{{template "footer" .}}
{{end}}
