{{define "head"}}<title>Page non trouvée &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">Cette page est manquante.</p>
			<p>Vous êtes-sûr qu'elle ai jamais existé ?</p>
		</div>
{{end}}
