{{define "head"}}<title>Page not found &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">This page is missing.</p>
			<p>Are you sure it was ever here?</p>
		</div>
{{end}}
