{{define "head"}}<title>Publication non trouvée &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page" style="max-width:30em">
			<p class="msg">Publication non trouvée.</p>
			{{if and (not .SingleUser) .OpenRegistration}}
			<p class="commentary" style="margin-top:2.5em">Pourquoi ne pas partager vos propres mots ?</p>
			<p><a href="/">Créez un blog</a> et partagez vos idées sur <strong>{{.SiteName}}</strong></p>
			{{end}}
		</div>
{{end}}
