{{define "head"}}<title>{{call .Tr "Unpublished"}} &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">{{if .Content}}{{.Content}}{{else}}{{call .Tr "Post was unpublished by the author."}}{{end}}</p>
			<p class="commentary">{{call .Tr "It might be back some day."}}</p>
		</div>
{{end}}
