{{define "head"}}<title>Dépublié &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">{{if .Content}}{{.Content}}{{else}}La publication a été dépubliée par son auteur.{{end}}</p>
			<p class="commentary">Elle pourrait être de retour un jour.</p>
		</div>
{{end}}
