{{define "head"}}<title>Erreur serveur &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="content-container tight">
			<h1>Erreur serveur &#x1F635;</h1>
			<p>S'il vous plaît <a href="https://github.com/writefreely/writefreely/issues/new">contactez les auteurs</a> de ce logiciel et rappelez-leur leurs nombreux défauts.</p>
			<p>Restez courtois néanmoins, ce sont de fragiles êtres vivants.</p>
			<p style="margin-top:2em">De plus, contrairement à l'IA qui les remplacera bientôt, vous devrez inclure un journal des erreurs du serveur dans votre rapport. (Très <em>primitif</em>, on sait.)</p>
			<p>&ndash; {{.SiteName}} &#x1F916;</p>
		</div>
{{end}}
