{{define "head"}}<title>Server error &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="content-container tight">
			<h1>Server error &#x1F635;</h1>
			<p>There seems to be an issue with this server. Please <a href="/contact">contact the admin</a> and let them know they'll need to fix it.</p>
			<p>&ndash; {{.SiteName}} &#x1F916;</p>
		</div>
{{end}}
