{{define "head"}}<title>Server error &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">Server error. &#x1F632; &#x1F635;</p>
			<p>The humans have been alerted and reminded of their many shortcomings.</p>
			<p style="margin-top:3em">On behalf of them, we apologize.</p>
			<p>&ndash; The Write.as Bots</p>
		</div>
{{end}}
