{{define "head"}}<title>Temporarily Unavailable &mdash; {{.SiteMetaName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">The words aren't coming to me. &#x1F5C5;</p>
			<p>We couldn't serve this page due to high server load. This should only be temporary.</p>
		</div>
{{end}}
