{{define "head"}}<title>Indisponible temporairement &mdash; {{.SiteMetaName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">Je ne trouve pas les mots. &#x1F5C5;</p>
			<p>Nous n'avons pas pu afficher cette page en raison de la charge élevée du serveur. Cela ne devrait être que temporaire.</p>
		</div>
{{end}}
