{{define "head"}}<title>About {{.SiteName}}</title>
{{end}}
{{define "content"}}
	<div class="content-container snug">
		<h1>About {{.SiteName}}</h1>

		<!--
			Feel free to edit this section. Describe what your instance is about!
		-->

		<p>
			{{ if .Federation }}
			<em>{{.SiteName}}</em> is an interconnected place for you to write and publish, powered by WriteFreely and ActivityPub.
			{{ else }}
			<em>{{.SiteName}}</em> is a place for you to write and publish, powered by WriteFreely.
			{{ end }}
		</p>


		<h2 style="margin-top:2em">About WriteFreely</h2>
		<p><a href="https://writefreely.org">WriteFreely</a> is a self-hosted, decentralized blogging platform for publishing beautiful, simple blogs.</p>
		<p>It lets you publish a single blog, or host a community of writers who can create multiple blogs under one account. You can also enable federation, which allows people in the fediverse to follow your blog, bookmark your posts, and share them with others.</p>
		<div class="clearfix blurbs" style="font-size: 1.3em;text-align:center">
			<div class="half big">
				<p><a href="https://writefreely.org/start">Start an instance</a></p>
			</div>
			<div class="half big">
				<p><a href="https://writefreely.org">WriteFreely</a></p>
			</div>
		</div>
	</div>
{{end}}
