{{define "head"}}<title>{{.ContentTitle}} &mdash; {{.SiteName}}</title>
<meta name="description" content="{{.PlainContent}}">
{{end}}
{{define "content"}}
	<div class="content-container snug">
		<h1>{{.ContentTitle}}</h1>

		{{.Content}}

		{{if .PublicStats}}
			<hr style="margin:1.5em 0;" />
			<p><em>{{.SiteName}}</em> is home to <strong>{{largeNumFmt .AboutStats.NumPosts}}</strong> {{pluralize "article" "articles" .AboutStats.NumPosts}} across <strong>{{largeNumFmt .AboutStats.NumBlogs}}</strong> {{pluralize "blog" "blogs" .AboutStats.NumBlogs}}.</p>
		{{end}}

		<h2 style="margin-top:2em">About WriteFreely</h2>
		<p><a href="https://writefreely.org">WriteFreely</a> is a self-hosted, decentralized blogging platform for publishing beautiful, simple blogs.</p>
		<p>It lets you publish a single blog, or host a community of writers who can create multiple blogs under one account. You can also enable federation, which allows people in the fediverse to follow your blog, bookmark your posts, and share them with others.</p>
		<div class="clearfix blurbs" style="font-size: 1.3em;text-align:center">
			<div class="half big">
				<p><a href="https://writefreely.org/start">Start an instance</a></p>
			</div>
			<div class="half big">
				<p><a href="https://writefreely.org">WriteFreely</a></p>
			</div>
		</div>
	</div>
{{end}}
