{{define "head"}}<title>{{.SiteName}} Privacy Policy</title>
{{end}}
{{define "content"}}<div class="content-container snug">
	<h1>Privacy Policy</h1>
		<p style="font-style:italic">Last updated {{.Updated}}</p>

		{{.Content}}
	</div>
{{end}}
