{{define "password-collection"}}<!DOCTYPE HTML>
<html {{if .Language}}lang="{{.Language}}"{{end}} dir="{{.Direction}}">
	<head>
		<meta charset="utf-8">

		<title>{{.DisplayTitle}}{{if not .SingleUser}} &mdash; {{.SiteName}}{{end}}</title>
		
		<link rel="stylesheet" type="text/css" href="/css/write.css" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="canonical" href="{{.CanonicalURL}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="{{.Description}}">
		<meta itemprop="name" content="{{.DisplayTitle}}">
		<meta itemprop="description" content="{{.Description}}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{.DisplayTitle}}">
		<meta name="twitter:description" content="{{.Description}}">
		<meta property="og:title" content="{{.DisplayTitle}}" />
		<meta property="og:site_name" content="{{.DisplayTitle}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{.CanonicalURL}}" />
		<meta property="og:description" content="{{.Description}}" />
		{{if .StyleSheet}}<style type="text/css">{{.StyleSheetDisplay}}</style>{{end}}

	</head>
	<body id="collection" itemscope itemtype="http://schema.org/WebPage">
		<header>
		<h1 dir="{{.Direction}}" id="blog-title"><a href="/{{.Alias}}/" class="h-card p-author u-url" rel="me author">{{.DisplayTitle}}</a></h1>
		</header>
		
		<div id="wrapper">

			<div class="access">
				<form method="post" action="/api/auth/read">
					{{if .Flashes}}<ul class="errors">
						{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
					</ul>{{else}}
					<h2>This blog requires a password.</h2>
					{{end}}
					<input type="hidden" name="alias" value="{{.Alias}}" />
					<input type="hidden" name="to" value="{{.Next}}" />
					<input type="password" autocomplete="new-password" name="password" tabindex="1" autofocus />
					<p><input type="submit" value="Enter" /></p>
				</form>
			</div>
		</div>

		<footer>
			<hr />
			<nav dir="ltr">
				<a class="home pubd" href="/">{{.SiteName}}</a> &middot; powered by <a style="margin-left:0" href="https://writefreely.org">write freely</a>
			</nav>
		</footer>
	</body>
	
	{{if and .Script .CanShowScript}}<script type="text/javascript">{{.ScriptDisplay}}</script>{{end}}
	<script src="/js/h.js"></script>
	<script src="/js/postactions.js"></script>
	<script type="text/javascript">
	try {
	  WebFontConfig = {
		custom: { families: [ 'Lora:400,700:latin', 'Open+Sans:400,700:latin' ], urls: [ '/css/fonts.css' ] }
	  };
	  (function() {
		var wf = document.createElement('script');
		wf.src = '/js/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	  })();
	} catch (e) {}
	</script>
</html>{{end}}
