{{define "upgrade"}}
<p><a href="/me/plan?to=/me/c/{{.Alias}}">Upgrade</a> for <span>$40 / year</span> to edit.</p>
{{end}}

{{define "collection"}}
{{template "header" .}}

<style>
textarea.section.norm {
	font-family: Lora,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif !important;
	min-height: 10em;
	max-height: 20em;
	resize: vertical;
}
@media (pointer: coarse) {
	.codable {
		font-size: 0.75em !important;
		height: 17em !important;
	}
}
</style>

<div class="content-container snug">
	<div id="overlay"></div>

	{{if .Silenced}}
		{{template "user-silenced"}}
	{{end}}

	{{template "collection-breadcrumbs" .}}

	<h1>Personnaliser</h1>

	{{template "collection-nav" (dict "Alias" .Alias "Path" .Path "SingleUser" .SingleUser)}}

	{{if .Flashes}}<ul class="errors">
		{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
	</ul>{{end}}

<form name="customize-form" action="/api/collections/{{.Alias}}" method="post" onsubmit="return disableSubmit()">
<div id="collection-options">
	<div style="text-align:center">
		<h1><input type="text" name="title" id="title" value="{{.DisplayTitle}}" placeholder="Title" /></h1>
		<p><input type="text" name="description" id="description" value="{{.Description}}" placeholder="Description" /></p>
	</div>

	<div class="option">
		<h2><a name="preferred-url"></a>URL</h2>
		<div class="section">
			{{if eq .Alias .Username}}<p style="font-size: 0.8em">Ce blog utilise votre nom d'utilisateur dans son URL{{if .Federation}} et son handle fediverse{{end}}. Vous pouvez le changer dans vos <a href="/me/settings">Paramètres de compte</a>.</p>{{end}}
			<ul style="list-style:none">
				<li>
					{{.FriendlyHost}}/<strong>{{.Alias}}</strong>/
				</li>
				<li>
					<strong id="normal-handle-env" class="fedi-handle" {{if not .Federation}}style="display:none"{{end}}>@<span id="fedi-handle">{{.Alias}}</span>@<span id="fedi-domain">{{.FriendlyHost}}</span></strong>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Visibilité</h2>
		<div class="section">
			<ul style="list-style:none">
				<li>
					<label><input type="radio" name="visibility" id="visibility-unlisted" value="0" {{if .IsUnlisted}}checked="checked"{{end}} />
						Non-listé
					</label>
					<p>Ce blog est visible {{if .Private}}pour toutes les personnes de cette instance{{else}}toute personne disposant de son lien{{end}}.</p>
				</li>
				<li>
				<label class="option-text"><input type="radio" name="visibility" id="visibility-private" value="2" {{if .IsPrivate}}checked="checked"{{end}} />
						Privé
					</label>
					<p>Seulement vous pouvez lire ce blog (une fois connecté).</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="visibility" id="visibility-protected" value="4" {{if .IsProtected}}checked="checked"{{end}} />
						Protégé par mot de passe: <input type="password" class="low-profile" name="password" id="collection-pass" autocomplete="new-password" placeholder="{{if .IsProtected}}xxxxxxxxxxxxxxxx{{else}}un mot de passe facile à retenir{{end}}" />
					</label>
					<p>Un mot de passe est requis pour consulter ce blog.</p>
				</li>
				{{if not .SingleUser}}
				<li>
					<label class="option-text{{if not .LocalTimeline}} disabled{{end}}"><input type="radio" name="visibility" id="visibility-public" value="1" {{if .IsPublic}}checked="checked"{{end}} {{if not .LocalTimeline}}disabled="disabled"{{end}} />
						Public
					</label>
					{{if .LocalTimeline}}<p>Ce blog est visible dans le <a href="/read">fil</a> public, et est visible pour {{if .Private}}toute personne connectée à cette instance{{else}}toute personne disposant de son lien{{end}}.</p>
					{{else}}<p>Le fil public est actuellement désactivé sur cette instance.</p>{{end}}
				</li>
				{{end}}
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Affichage</h2>
		<div class="section">
			<p class="explain">Personnaliser l'apparence de vos publications
			</p>
			<ul style="list-style:none">
				<li>
					<label><input type="radio" name="format" id="format-blog" value="blog" {{if or (not .Format) (eq .Format "blog")}}checked="checked"{{end}} />
						Blog
					</label>
					<p>Dates visibles. Du plus récent au plus ancien.</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="format" id="format-novel" value="novel" {{if eq .Format "novel"}}checked="checked"{{end}} />
						Nouvelle
					</label>
					<p>Pas de dates. Du plus ancien au plus récent.</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="format" id="format-notebook" value="notebook" {{if eq .Format "notebook"}}checked="checked"{{end}} />
						Carnet de notes
					</label>
					<p>Pas de dates. Du plus récent au plus ancien.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Rendu du texte</h2>
		<div class="section">
			<p class="explain">Choisissez comment le texte brut est rendu sur votre blog.</p>
			<ul style="list-style:none">
				<li>
					<label class="option-text disabled"><input type="checkbox" name="markdown" checked="checked" disabled />
						Markdown
					</label>
				</li>
				<li>
					<label><input type="checkbox" name="mathjax" {{if .RenderMathJax}}checked="checked"{{end}} />
						MathJax
					</label>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>CSS personnalisé</h2>
		<div class="section">
			<textarea id="css-editor" class="section codable" name="style_sheet">{{.StyleSheet}}</textarea>
			<p class="explain">Lisez notre guide sur la <a href="https://guides.write.as/customizing/#custom-css">personnalisation</a>.</p>
		</div>
	</div>

	<div class="option">
		<h2>Signature</h2>
		<div class="section">
			<p class="explain">Ajoutez une signature à la fin de chacunes de vos publications. Vous pouvez écrire en Markdown, HTML, et shortcodes.</p>
			<textarea id="signature" class="section norm" name="signature">{{.Signature}}</textarea>
		</div>
	</div>

	{{if .UserPage.StaticPage.AppCfg.Monetization}}
	<div class="option">
		<h2>Web Monetization</h2>
		<div class="section">
			<p class="explain">Web Monetization enables you to receive micropayments from readers that have a <a href="https://coil.com">Coil membership</a>. Add your payment pointer to enable Web Monetization on your blog.</p>
			<input type="text" name="monetization_pointer" style="width:100%" value="{{.Collection.Monetization}}" placeholder="$wallet.example.com/alice" />
		</div>
	</div>
	{{end}}

	<div class="option" style="text-align: center; margin-top: 4em;">
		<input type="submit" id="save-changes" value="Sauvegarder" />
		<p><a href="{{if .SingleUser}}/{{else}}/{{.Alias}}/{{end}}">Voir le blog</a></p>
		{{if ne .Alias .Username}}<p><a class="danger" href="#modal-delete" onclick="promptDelete();">Supprimer le blog...</a></p>{{end}}
	</div>
</div>
</form>
</div>

		<div id="modal-delete" class="modal">
			<h2>Etes-vous sûr de vouloir supprimer ce blog ?</h2>
			<div class="body short">
				<p style="text-align:left">La suppression va effacer de manière permanente <strong>{{.DisplayTitle}}</strong> ({{.FriendlyHost}}/{{.Alias}}). Toutes vos publications seront sauvegardées et ajoutées à vos brouillons (disponibles sur la page <a href="/me/posts/">Brouillons</a>).</p>
				<p>Si vous êtes sûr de vouloir supprimer ce blog, saisissez son nom ci-dessous et cliquez sur <strong>Supprimer</strong>.</p>

				<ul id="delete-errors" class="errors"></ul>

				<input id="confirm-text" placeholder="{{.Alias}}" type="text" class="boxy" style="margin-top: 0.5em;" />
				<div style="text-align:right; margin-top: 1em;">
					<a id="cancel-delete" style="margin-right:2em" href="#">Annuler</a>
					<button id="btn-delete" class="danger" onclick="deleteBlog(); return false;">Supprimer</button>
				</div>
			</div>
		</div>

<script src="/js/h.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
H.getEl('cancel-delete').on('click', closeModals);
var deleteBlog = function(e) {
	if (document.getElementById('confirm-text').value != '{{.Alias}}') {
		document.getElementById('delete-errors').innerHTML = '<li class="urgent">Saisissez <strong>{{.Alias}}</strong> dans la boîte ci-dessous.</li>';
		return;
	}
	// Clear errors
	document.getElementById('delete-errors').innerHTML = '';
	document.getElementById('btn-delete').innerHTML = 'Suppression...';

	var http = new XMLHttpRequest();
	var url = "/api/collections/{{.Alias}}?web=1";
	http.open("DELETE", url, true);
	http.setRequestHeader("Content-type", "application/json");
	http.onreadystatechange = function() {
		if (http.readyState == 4) {
			if (http.status == 204) {
				window.location = '/me/c/';
			} else {
				var data = JSON.parse(http.responseText);
				document.getElementById('delete-errors').innerHTML = '<li class="urgent">'+data.error_msg+'</li>';
				document.getElementById('btn-delete').innerHTML = 'Delete';
			}
		}
	};
	http.send(null);
};

function createHidden(theForm, key, value) {
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;
    input.value = value;
    theForm.appendChild(input);
}
function disableSubmit() {
	var $form = document.forms['customize-form'];
	createHidden($form, 'style_sheet', cssEditor.getSession().getValue());
	var $btn = document.getElementById("save-changes");
	$btn.value = "Saving changes...";
	$btn.disabled = true;
	return true;
}
function promptDelete() {
	showModal("delete");
}

var $fediDomain = document.getElementById('fedi-domain');
var $fediCustomDomain = document.getElementById('fedi-custom-domain');
var $customDomain = document.getElementById('domain-alias');
var $customHandleEnv = document.getElementById('custom-handle-env');
var $normalHandleEnv = document.getElementById('normal-handle-env');

if (matchMedia('(pointer:fine)').matches) {
	// Only initialize Ace editor on devices with a mouse
	var opt = {
		showLineNumbers: false,
		showPrintMargin: 0,
		minLines: 10,
		maxLines: 40,
	};
	var theme = "ace/theme/chrome";
	var cssEditor = ace.edit("css-editor");
	cssEditor.setTheme(theme);
	cssEditor.session.setMode("ace/mode/css");
	cssEditor.setOptions(opt);
	cssEditor.resize(true);
}
</script>

{{template "footer" .}}
{{end}}
