{{define "collection"}}
{{template "header" .}}

<style>
textarea.section.norm {
	font-family: Lora,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif !important;
	min-height: 10em;
	max-height: 20em;
	resize: vertical;
}
@media (pointer: coarse) {
	.codable {
		font-size: 0.75em !important;
		height: 17em !important;
	}
}
</style>

<div class="content-container snug">
	<div id="overlay"></div>

	{{if .Silenced}}
		{{template "user-silenced" (dict "Tr" $.Tr)}}
	{{end}}

	{{template "collection-breadcrumbs" .}}

	<h1>{{(call .Tr "Customize")}}</h1>

	{{template "collection-nav" (dict "Alias" .Alias "Path" .Path "SingleUser" .SingleUser "Tr" $.Tr)}}

	{{if .Flashes}}<ul class="errors">
		{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
	</ul>{{end}}

<form name="customize-form" action="/api/collections/{{.Alias}}" method="post" onsubmit="return disableSubmit()">
<div id="collection-options">
	<div style="text-align:center">
		<h1><input type="text" name="title" id="title" value="{{.DisplayTitle}}" placeholder={{call .Tr "Title"}} /></h1>
		<p><input type="text" name="description" id="description" value="{{.Description}}" placeholder={{call .Tr "Description"}} /></p>
	</div>

	<div class="option">
		<h2><a name="preferred-url"></a>URL</h2>
		<div class="section">
			{{if eq .Alias .Username}}<p style="font-size: 0.8em">{{if .Federation}}{{call .Tr "This blog uses your username in its URL and fediverse handle."}}{{else}}{{call .Tr "This blog uses your username in its URL."}}{{end}} {{call .Tr "You can change it in your %s." true (variables "Account Settings;/me/settings")}}</p>{{end}}
			<ul style="list-style:none">
				<li>
					{{.FriendlyHost}}/<strong>{{.Alias}}</strong>/
				</li>
				<li>
					<strong id="normal-handle-env" class="fedi-handle" {{if not .Federation}}style="display:none"{{end}}>@<span id="fedi-handle">{{.Alias}}</span>@<span id="fedi-domain">{{.FriendlyHost}}</span></strong>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>{{call .Tr "Publicity"}}</h2>
		<div class="section">
			<ul style="list-style:none">
				<li>
					<label><input type="radio" name="visibility" id="visibility-unlisted" value="0" {{if .IsUnlisted}}checked="checked"{{end}} />
						{{call .Tr "Unlisted"}}
					</label>
					<p>{{if .Private}}{{call .Tr "This blog is visible to any registered user on this instance."}}{{else}}{{call .Tr "This blog is visible to anyone with its link."}}{{end}}</p>
				</li>
				<li>
				<label class="option-text"><input type="radio" name="visibility" id="visibility-private" value="2" {{if .IsPrivate}}checked="checked"{{end}} />
						{{call .Tr "Private"}}
					</label>
					<p>{{call .Tr "Only you may read this blog (while you're logged in)."}}</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="visibility" id="visibility-protected" value="4" {{if .IsProtected}}checked="checked"{{end}} />
						{{call .Tr "Password-protected:"}} <input type="password" class="low-profile" name="password" id="collection-pass" autocomplete="new-password" placeholder="{{if .IsProtected}}xxxxxxxxxxxxxxxx{{else}}{{call .Tr "a memorable password"}}{{end}}" />
					</label>
					<p>{{call .Tr "A password is required to read this blog."}}</p>
				</li>
				{{if not .SingleUser}}
				<li>
					<label class="option-text{{if not .LocalTimeline}} disabled{{end}}"><input type="radio" name="visibility" id="visibility-public" value="1" {{if .IsPublic}}checked="checked"{{end}} {{if not .LocalTimeline}}disabled="disabled"{{end}} />
						{{call .Tr "Public"}}
					</label>
					{{if .LocalTimeline}}<p>{{if .Private}}{{call .Tr "This blog is displayed on the public %s, and is visible to any registered user on this instance." true (variables "Reader;/read")}}{{else}}{{call .Tr "This blog is displayed on the public %s, and is visible to any registered user on this instance." true (variables "Reader;/read")}}{{end}}</p>
					{{else}}<p>{{call .Tr "The public reader is currently turned off for this community."}}</p>{{end}}
				</li>
				{{end}}
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>{{call .Tr "Display Format"}}</h2>
		<div class="section">
			<p class="explain">{{call .Tr "Customize how your posts display on your page."}}
			</p>
			<ul style="list-style:none">
				<li>
					<label><input type="radio" name="format" id="format-blog" value="blog" {{if or (not .Format) (eq .Format "blog")}}checked="checked"{{end}} />
						Blog
					</label>
					<p>{{call .Tr "Dates are shown. Latest posts listed first."}}</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="format" id="format-novel" value="novel" {{if eq .Format "novel"}}checked="checked"{{end}} />
						Novel
					</label>
					<p>{{call .Tr "No dates shown. Oldest posts first."}}</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="format" id="format-notebook" value="notebook" {{if eq .Format "notebook"}}checked="checked"{{end}} />
						Notebook
					</label>
					<p>{{call .Tr "No dates shown. Latest posts first."}}</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>{{call .Tr "Text Rendering"}}</h2>
		<div class="section">
			<p class="explain">{{call .Tr "Customize how plain text renders on your blog."}}</p>
			<ul style="list-style:none">
				<li>
					<label class="option-text disabled"><input type="checkbox" name="markdown" checked="checked" disabled />
						Markdown
					</label>
				</li>
				<li>
					<label><input type="checkbox" name="mathjax" {{if .RenderMathJax}}checked="checked"{{end}} />
						MathJax
					</label>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>{{call .Tr "Custom CSS"}}</h2>
		<div class="section">
			<textarea id="css-editor" class="section codable" name="style_sheet">{{.StyleSheet}}</textarea>
			<p class="explain">{{call .Tr "See our guide on %s." true (variables "customization;https://guides.write.as/customizing/#custom-css")}}</p>
		</div>
	</div>

	<div class="option">
		<h2>{{call .Tr "Post Signature"}}</h2>
		<div class="section">
			<p class="explain">{{call .Tr "This content will be added to the end of every post on this blog, as if it were part of the post itself. Markdown, HTML, and shortcodes are allowed."}}</p>
			<textarea id="signature" class="section norm" name="signature">{{.Signature}}</textarea>
		</div>
	</div>

	{{if .UserPage.StaticPage.AppCfg.Monetization}}
	<div class="option">
		<h2>{{call .Tr "Web Monetization"}}</h2>
		<div class="section">
			<p class="explain">{{call .Tr "Web Monetization enables you to receive micropayments from readers that have a %s. Add your payment pointer to enable Web Monetization on your blog." true (variables "Coil membership;https://coil.com")}}</p>
			<input type="text" name="monetization_pointer" style="width:100%" value="{{.Collection.Monetization}}" placeholder="$wallet.example.com/alice" />
		</div>
	</div>
	{{end}}

	<div class="option" style="text-align: center; margin-top: 4em;">
		<input type="submit" id="save-changes" value="{{call .Tr "Save changes"}}" />
		<p><a href="{{if .SingleUser}}/{{else}}/{{.Alias}}/{{end}}">{{call .Tr "View Blog"}}</a></p>
		{{if ne .Alias .Username}}<p><a class="danger" href="#modal-delete" onclick="promptDelete();">{{call .Tr "Delete Blog..."}}</a></p>{{end}}
	</div>
</div>
</form>
</div>

		<div id="modal-delete" class="modal">
			<h2>{{call .Tr "Are you sure you want to delete this blog?"}}</h2>
			<div class="body short">
				<p style="text-align:left">{{call .Tr "This will permanently erase <strong>{{.DisplayTitle}}</strong> ({{.FriendlyHost}}/{{.Alias}}) from the internet. Any posts on this blog will be saved and made into drafts (found on your %s page)." true (variables true "Draft;/me/posts/")}}</p>
				<p>{{call .Tr "If you're sure you want to delete this blog, enter its name in the box below and press **%s**." true (variables "Delete")}}</p>

				<ul id="delete-errors" class="errors"></ul>

				<input id="confirm-text" placeholder="{{.Alias}}" type="text" class="boxy" style="margin-top: 0.5em;" />
				<div style="text-align:right; margin-top: 1em;">
					<a id="cancel-delete" style="margin-right:2em" href="#">{{call .Tr "Cancel"}}</a>
					<button id="btn-delete" class="danger" onclick="deleteBlog(); return false;">{{call .Tr "Delete"}}</button>
				</div>
			</div>
		</div>

<script src="/js/h.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
H.getEl('cancel-delete').on('click', closeModals);
var deleteBlog = function(e) {
	if (document.getElementById('confirm-text').value != '{{.Alias}}') {
		document.getElementById('delete-errors').innerHTML = '<li class="urgent">{{call .Tr "Enter **%s** in the box below." true (variables .Alias)}}</li>';
		return;
	}
	// Clear errors
	document.getElementById('delete-errors').innerHTML = '';
	document.getElementById('btn-delete').innerHTML = {{call .Tr "Deleting..."}};

	var http = new XMLHttpRequest();
	var url = "/api/collections/{{.Alias}}?web=1";
	http.open("DELETE", url, true);
	http.setRequestHeader("Content-type", "application/json");
	http.onreadystatechange = function() {
		if (http.readyState == 4) {
			if (http.status == 204) {
				window.location = '/me/c/';
			} else {
				var data = JSON.parse(http.responseText);
				document.getElementById('delete-errors').innerHTML = '<li class="urgent">'+data.error_msg+'</li>';
				document.getElementById('btn-delete').innerHTML = {{call .Tr "Delete"}};
			}
		}
	};
	http.send(null);
};

function createHidden(theForm, key, value) {
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;
    input.value = value;
    theForm.appendChild(input);
}
function disableSubmit() {
	var $form = document.forms['customize-form'];
	createHidden($form, 'style_sheet', cssEditor.getSession().getValue());
	var $btn = document.getElementById("save-changes");
	$btn.value = {{call .Tr "Saving changes..."}};
	$btn.disabled = true;
	return true;
}
function promptDelete() {
	showModal("delete");
}

var $fediDomain = document.getElementById('fedi-domain');
var $fediCustomDomain = document.getElementById('fedi-custom-domain');
var $customDomain = document.getElementById('domain-alias');
var $customHandleEnv = document.getElementById('custom-handle-env');
var $normalHandleEnv = document.getElementById('normal-handle-env');

if (matchMedia('(pointer:fine)').matches) {
	// Only initialize Ace editor on devices with a mouse
	var opt = {
		showLineNumbers: false,
		showPrintMargin: 0,
		minLines: 10,
		maxLines: 40,
	};
	var theme = "ace/theme/chrome";
	var cssEditor = ace.edit("css-editor");
	cssEditor.setTheme(theme);
	cssEditor.session.setMode("ace/mode/css");
	cssEditor.setOptions(opt);
	cssEditor.resize(true);
}
</script>

{{template "footer" .}}
{{end}}
