{{define "import"}}
{{template "header" .}}

<div class="snug content-container">
	<h2 id="posts-header">Import</h2>
	<p>You may import your data from another instance here.</p>

	<table class="classy export">
		<tr>
			<th style="width: 40%">Export</th>
			<th colspan="2">Format</th>
		</tr>
		<tr>
			<th>Posts</th>
			<td><p class="text-cta"><a href="">CSV</a></p></td>
			<td><p class="text-cta"><a href="">TXT</a></p></td>
		</tr>
		<tr>
			<th>User + Blogs + Posts</th>
			<!-- TODO: Add inputs like: <td><input type="file" accept="text/JSON">JSON<input/></td> -->
			<td><p class="text-cta"><a href="">JSON</a></p></td>
			<td><p class="text-cta"><a href="">Prettified</a></p></td>
		</tr>
	</table>

</div>

{{template "footer" .}}
{{end}}