{{define "stats"}}
{{template "header" .}}
<style>
table.classy th { text-align: left }
table.classy th.num { text-align: right }
td + td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
td.num {
	text-align: right;
}
table.classy.export a { text-transform: inherit; }
td.none {
	font-style: italic;
}
</style>

<div class="content-container snug">
	{{if .Silenced}}
		{{template "user-silenced"}}
	{{end}}

	{{template "collection-breadcrumbs" .}}

	<h1 id="posts-header">Stats</h1>

	{{if .Collection}}
		{{template "collection-nav" (dict "Alias" .Collection.Alias "Path" .Path "SingleUser" .SingleUser)}}
	{{end}}

	<p>Stats for all time.</p>

	{{if or .Federation .EmailEnabled}}
	<h3>Subscribers</h3>
	<table id="fediverse" class="classy export">
		<tr>
			{{if .Federation}}<th>Fediverse Followers</th>{{end}}
			{{if .EmailEnabled}}<th>Email Subscribers</th>{{end}}
		</tr>
		<tr>
			{{if .Federation}}<td><a href="/me/c/{{.Collection.Alias}}/subscribers?filter=fediverse">{{.APFollowers}}</a></td>{{end}}
			{{if .EmailEnabled}}<td><a href="/me/c/{{.Collection.Alias}}/subscribers">{{.EmailSubscribers}}</a></td>{{end}}
		</tr>
	</table>
	{{end}}

	<h3>Top {{len .TopPosts}} posts</h3>
	<table class="classy export">
		<tr>
			<th>Post</th>
			{{if not .Collection}}<th>Blog</th>{{end}}
			<th class="num">Total Views</th>
		</tr>
		{{range .TopPosts}}<tr>
			<td style="word-break: break-all;"><a href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}/{{.ID}}{{end}}">{{if ne .DisplayTitle ""}}{{.DisplayTitle}}{{else}}<em>{{.ID}}</em>{{end}}</a></td>
			{{ if not $.Collection }}<td>{{if .Collection}}<a href="{{.Collection.CanonicalURL}}">{{.Collection.Title}}</a>{{else}}<em>Draft</em>{{end}}</td>{{ end }}
			<td class="num">{{.ViewCount}}</td>
		</tr>{{end}}
	</table>

</div>

{{template "footer" .}}
{{end}}
